
@model VOS.ViewModel.Business.VOS_PlanVMs.VOS_PlanVM
<link href="~/bootstrap-select/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<style type="text/css">
    th, td {
        width: 100px;
    }

    td {
        height: 100px;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 100px;
        line-height: 20px;
        text-align: right;
    }

    /*input 输入框右边的上下箭头按钮*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<wt:form vm="@Model" id="formimg" style="width: 100%; height: 100%;">
    <div style="height:15%;">
        <wt:quote>批量添加任务</wt:quote>
        <wt:row items-per-row="ItemsPerRowEnum.Three">
            <wt:textbox field="Entity.Plan_no" disabled="true"></wt:textbox>
            @if (@ViewBag.IsShow == true)
            {
                <wt:combobox field="Entity.OrganizationID" items="AllOrganization" />
            }
            <wt:combobox field="Entity.ShopnameId" items="AllShopnames" />
            <wt:datetime field="Entity.PlanSatrtTime" />
            <wt:datetime field="Entity.PlanEndTime" />
            <wt:textbox field="Entity.PlanFee" default-value="1" />
        </wt:row>
        <wt:row align="AlignEnum.Right">
            <wt:button style="width: 10%; float: left; margin-right: 10px; color: #000000;" class="layui-btn layui-btn-radius" text="创建一行" click="Create()"></wt:button>

            <wt:button style="width: 10%; float: left; color: #000000;" class="layui-btn layui-btn-radius layui-btn-warm" text="查询店铺计划" click="SearchShop()"></wt:button>

            <wt:button id="SaveTask" style="width: 10%; margin-right: 10px; color: #000000; " text="提交" class="layui-btn layui-btn-radius layui-btn-normal"></wt:button>

            <wt:closebutton style="width: 10%; color: #000000;" class="layui-btn layui-btn-radius layui-btn-danger" />
        </wt:row>
    </div>
    <div style="overflow: scroll; width: 100%;height:70%;">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>任务编号</th>
                    <th>方法</th>
                    <th>执行开始</th>
                    <th>商品类目</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品链接</th>
                    <th style="width:75px;">价格</th>
                    <th>SKU</th>
                    <th>关键字</th>
                    <th style="width:75px;">单量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="layui_table"></tbody>
        </table>
    </div>
</wt:form>

<script src="~/bootstrap-select/bootstrap.min.js"></script>
<script src="~/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/bootstrap-select/defaults-zh_CN.min.js"></script>
<script type="text/javascript">
    layui.use(['upload', 'layer'], function () {
            layer = layui.layer
            , upload = layui.upload
            , form = layui.form;
    });
    let RowIndex = 1
        , htmloption//类目下拉
        ,_url = '@Url.Action("DoBatchCreation", "VOS_Task")'
        , imgurl = '@Url.Action("ImgSave", "VOS_Task")';
    $(function () {
        $("#SaveTask").addClass("layui-btn-disabled");
        $.get('@Url.Action("GetCategory", "VOS_Task")', data => {
            if (data.Msg) {
                $(data.Data).each(function (index, item) {
                    htmloption += "<option value=" + item.Value + ">" + item.Text + "</option>";
                });
            } else {
                layer.msg("网络状态不佳");
            }
        });
    });

    function Create() {
         if ($("#VOS_PlanVM_Entity_PlanSatrtTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanEndTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanFee").val() == ""
            || $("#VOS_PlanVM_Entity_OrganizationID").val() == ""
            || $("#VOS_PlanVM_Entity_ShopnameId").val() == "") {
            layer.msg("请将上部分填写完毕");
            return false;
        }
        $("#SaveTask").removeClass("layui-btn-disabled").addClass("layui-btn-radius layui-btn-normal");

        if ($("#layui_table tr").length <= 0) {
            let obj = {
                CommodityLink: "-"
                , CommodityName: "-"
                , CommodityPicID: "1"
                , CommodityPicUrl: "images/logo.png"
                , CommodityPrice: "0.01"
                , ImplementStartdate: GetDate()
                , SKU: "-"
                , SearchKeyword: "-"
                , TaskCateId: "-"
                , TaskCateText: "请选择"
                , TaskType: "0"
                , TaskTypeText: "搜索"
                , VOS_Number: "1"
            };
            CreateRow(obj);
        } else {
            let lastlineTr = $("#layui_table").children("tr:last")
            let obj = { ImplementStartdate : GetDate()};
            $(lastlineTr).each(function (trIndex, trItem) {
                $(this).find('td').each(function (tdIndex, tdItem) {
                    let input = $(tdItem).find("input").not('.fileUpload');
                    let select = $(tdItem).find("select");
                    let selectpicker = $(tdItem).find(".selectpicker");
                    let img = $(tdItem).find("img")[0];
                    if ($(img).attr("name") != undefined) {
                        obj["CommodityPicUrl"] = $(img).attr("src");
                        obj[$(img).attr("name")] = $(img).data("id");
                    } else if (selectpicker.length > 0) {
                        obj["TaskCateText"] = $(selectpicker[0]).find("option:selected").text();
                        obj[selectpicker[0].name] = $(selectpicker[0]).val();
                    } else if (input.val() != undefined) {
                        obj[input[0].name] = input.val().replace('\t', "");;
                    } else if (select.val() != undefined) {
                        obj["TaskTypeText"] = $(select[0]).find("option:selected").text();
                        obj[select[0].name] = select.val();
                    }
                });
            });
            CreateRow(obj);
        }
        layer.msg("已创建一行，共 " + $("#layui_table tr").length + " 行");

    }

    function edit(o, otype) {
        let oTR = o.parentNode.parentNode;
        //任务
        let TaskDiv = oTR.cells[0].getElementsByTagName("div");
        let TaskInpt = oTR.cells[0].getElementsByTagName("input");
        //方法
        let MakeDiv = oTR.cells[1].getElementsByTagName("div");
        let MakeSelect = oTR.cells[1].getElementsByTagName("select");
        //执行开始
        let ImplementStartTimeDiv = oTR.cells[2].getElementsByTagName("div");
        let ImplementStartTimeInput = oTR.cells[2].getElementsByTagName("input");
        //商品类目
        let TaskCateSpan = oTR.cells[3].getElementsByTagName("span");
        let TaskCateDiv = oTR.cells[3].getElementsByTagName("div");
        //商品名称
        let CommodityNameDiv = oTR.cells[4].getElementsByTagName("div");
        let CommodityNameInput = oTR.cells[4].getElementsByTagName("input");
        //商品图片
        let CommodityPicIdImg = oTR.cells[5].getElementsByTagName("img");
        let CommodityPicIdButton = oTR.cells[5].getElementsByTagName("button");
        //商品链接
        let CommodityLinkDiv = oTR.cells[6].getElementsByTagName("div");
        let CommodityLinkInput = oTR.cells[6].getElementsByTagName("input");
        //商品价格
        let CommodityPriceDiv = oTR.cells[7].getElementsByTagName("div");
        let CommodityPriceInput = oTR.cells[7].getElementsByTagName("input");
        //sku
        let SKUDiv = oTR.cells[8].getElementsByTagName("div");
        let SKUInput = oTR.cells[8].getElementsByTagName("input");
        //搜索关键字
        let keywordDiv = oTR.cells[9].getElementsByTagName("div");
        let keywordInput = oTR.cells[9].getElementsByTagName("input");
        //单量
        let VOS_NumberDiv = oTR.cells[10].getElementsByTagName("div");
        let VOS_NumberInput = oTR.cells[10].getElementsByTagName("input");

        if (otype == "show") {
            o.value = "确认";
            o.setAttribute("onclick", "edit(this,'hide')");
            //任务编号
            TaskInpt[0].value = TaskDiv[0].childNodes[0].nodeValue;
            TaskInpt[0].style.display = "block";
            TaskDiv[0].style.display = "none";
            //方法
            MakeSelect[0].style.display = "block";
            MakeDiv[0].style.display = "none";
            //执行开始
            ImplementStartTimeInput[0].value = ImplementStartTimeDiv[0].childNodes[0].nodeValue;
            ImplementStartTimeInput[0].style.display = "block";
            ImplementStartTimeDiv[0].style.display = "none";
            //商品类目
            TaskCateDiv[0].style.display = "block";
            TaskCateSpan[0].style.display = "none";
            //商品名称
            CommodityNameInput[0].value = CommodityNameDiv[0].childNodes[0].nodeValue;
            CommodityNameInput[0].style.display = "block";
            CommodityNameDiv[0].style.display = "none";
            //商品图片
            CommodityPicIdButton[0].style.display = "block";
            CommodityPicIdImg[0].style.display = "none";
            //商品链接
            CommodityLinkInput[0].value = CommodityLinkDiv[0].childNodes[0].nodeValue;
            CommodityLinkInput[0].style.display = "block";
            CommodityLinkDiv[0].style.display = "none";
            //商品价格
            CommodityPriceInput[0].value = CommodityPriceDiv[0].childNodes[0].nodeValue;
            CommodityPriceInput[0].style.display = "block";
            CommodityPriceDiv[0].style.display = "none";
            //SKU
            SKUInput[0].value = SKUDiv[0].childNodes[0].nodeValue;
            SKUInput[0].style.display = "block";
            SKUDiv[0].style.display = "none";
            //搜索关键字
            keywordInput[0].style.display = "block";
            keywordDiv[0].style.display = "none";
            //单量
            VOS_NumberInput[0].value = VOS_NumberDiv[0].childNodes[0].nodeValue;
            VOS_NumberInput[0].style.display = "block";
            VOS_NumberDiv[0].style.display = "none";
        } else if (otype == "hide") {
            o.value = "编辑";
            o.setAttribute("onclick", "edit(this,'show')");
            //任务编号
            TaskDiv[0].childNodes[0].nodeValue = TaskInpt[0].value;
            TaskInpt[0].style.display = "none";
            TaskDiv[0].style.display = "block";
            //方法
            MakeDiv[0].childNodes[0].nodeValue = $(MakeSelect[0]).find("option:selected").text();
            TaskTypeVal = $(MakeSelect[0]).find("option:selected").val();
            MakeSelect[0].style.display = "none";
            MakeDiv[0].style.display = "block";
            //执行开始
            ImplementStartTimeDiv[0].childNodes[0].nodeValue = ImplementStartTimeInput[0].value;
            ImplementStartTimeInput[0].style.display = "none";
            ImplementStartTimeDiv[0].style.display = "block";
            //商品类目
            TaskCateSpan[0].childNodes[0].nodeValue = $(TaskCateDiv[0]).find("option:selected").text();
            TaskCateDiv[0].style.display = "none";
            TaskCateSpan[0].style.display = "block";
            //商品名称
            CommodityNameDiv[0].childNodes[0].nodeValue = CommodityNameInput[0].value;
            CommodityNameInput[0].style.display = "none";
            CommodityNameDiv[0].style.display = "block";
            //商品图片
            CommodityPicIdButton[0].style.display = "none";
            CommodityPicIdImg[0].style.display = "block";
            //商品链接
            CommodityLinkDiv[0].childNodes[0].nodeValue = CommodityLinkInput[0].value;
            CommodityLinkInput[0].style.display = "none";
            CommodityLinkDiv[0].style.display = "block";
            //商品价格
            let _PriceInput = CommodityPriceInput[0].value;
            CommodityPriceInput[0].value = CommodityPriceDiv[0].childNodes[0].nodeValue = _PriceInput < 0.01 || _PriceInput == "" ? 0.01 : _PriceInput;
            CommodityPriceInput[0].style.display = "none";
            CommodityPriceDiv[0].style.display = "block";
            //SKU
            SKUDiv[0].childNodes[0].nodeValue = SKUInput[0].value;
            sku = SKUInput[0].value;
            SKUInput[0].style.display = "none";
            SKUDiv[0].style.display = "block";
            //搜索关键字
            keywordDiv[0].childNodes[0].nodeValue = keywordInput[0].value;
            keyword = keywordInput[0].value;
            keywordInput[0].style.display = "none";
            keywordDiv[0].style.display = "block";
            //单量
            let single = VOS_NumberInput[0].value == "" || VOS_NumberInput[0].value < 1 ? 1 : parseInt(VOS_NumberInput[0].value);
            single = single > 99? 99: single;
            VOS_NumberInput[0].value = VOS_NumberDiv[0].childNodes[0].nodeValue = single;
            VOS_NumberInput[0].style.display = "none";
            VOS_NumberDiv[0].style.display = "block";
        }
    }

    function drop(o) {
        let oTB = document.getElementById("layui_table");
        let oDel = o.parentNode.parentNode.sectionRowIndex;
        oTB.deleteRow(oDel);
    }

    function GetDate() {
        let _Date = new Date();
        let _Year = _Date.getFullYear();
        let _Month = _Date.getMonth() + 1;
        let _Today = _Date.getDate();
        return _Year + '-' + formatDate(_Month) + '-' + formatDate(_Today);
    };

    function formatDate(str) {
        let realNum;
        if (str < 10) {
            realNum = '0' + str;
        } else {
            realNum = str;
        }
        return realNum;
    }

    function GetTask_no() {
        return  new Date().getTime();
    }

    /**
     * 图片上传和预览
     */
    function Img(id, oTD5) {
        upload.render({
            elem: id
            , url: imgurl
            , accept: 'images'
            , acceptMime:'image/*'
            //, auto: false
            , bindAction: '#SaveTask'
            //预览
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    layer.msg("已选择图片");
                    oTD5.getElementsByTagName("img")[0].src = result;
                });
            }//成功
            , done: function (res, index, upload) {
                if (res.Data.Msg == "success") {
                    picid = res.Data.picid;
                    $(oTD5.getElementsByTagName("img")).data("id",res.Data.picid);
                }
            }
            , error: function (err) {

            }
        });
    }

    $("#SaveTask").click(function () {
        if ($("#SaveTask").hasClass("layui-btn-disabled") || $("#layui_table tr").length <= 0) { return false; }
        /**任务 */
        var tasklist = [];
        $('#layui_table tr').each(function (index, item) {
            var row = {};
            $(this).find('td').each(function (index2, item2) {
                let input = $(item2).find("input").not('.fileUpload');
                let select = $(item2).find("select");
                let selectpicker = $(item2).find(".selectpicker");
                let img = $(item2).find("img")[0];
                if ($(img).attr("name") != undefined) {
                    row[$(img).attr("name")] = $(img).data("id");
                } else if (selectpicker.length > 0) {
                    row[selectpicker[0].name] = $(selectpicker[0]).val();
                } else if (input.val() != undefined) {
                    row[input[0].name] = input.val().replace('\t', "");;
                } else if (select.val() != undefined) {
                    row[select[0].name] = select.val();
                }
            });
            row.Plan_no = $("#VOS_PlanVM_Entity_Plan_no").val();
            tasklist.push(row);
        });
        /**计划 */
        let plan = {
            "OrganizationID": $("#VOS_PlanVM_Entity_OrganizationID option:selected").val()
            , "Plan_no": $("#VOS_PlanVM_Entity_Plan_no").val()
            , "ShopnameId": $("#VOS_PlanVM_Entity_ShopnameId").find("option:selected").val()
            , "PlanSatrtTime": $("#VOS_PlanVM_Entity_PlanSatrtTime").val()
            , "PlanEndTime": $("#VOS_PlanVM_Entity_PlanEndTime").val()
            , "PlanFee": $("#VOS_PlanVM_Entity_PlanFee").val()
        };

        let lo = showLoad();
        $.ajax({
            type: "post"
            , url: _url
            , data: { "plan": JSON.stringify(plan), "tasklist": JSON.stringify(tasklist) }
            , success: res => {
                setInterval(function () {
                    closeLoad(lo);
                    layer.msg(res.Data.Msg, {
                        icon: res.Data.icon,
                        time: 1500,
                    }, function () {
                        location.reload();
                        layer.closeAll();
                    });
                }, 1000);
            }
            , error: err => {
                closeLoad(lo);
                layer.msg("提交数据太大", { icon: 5, time: 1500, });
            }
        });
    });

    function showLoad() {
        return layer.msg('正在完命的提交中，请勿关闭或刷新...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 1000000 });
    }

    function closeLoad(index) {
        layer.close(index);
    }

    function CreateRow(obj) {
        let oTB = document.getElementById("layui_table");
        let oTR = oTB.insertRow(oTB.rows.length);
        //任务编号
        let oTD0 = oTR.insertCell(0);
        oTD0.innerHTML = "<div>" + GetTask_no() + "</div><input  name='Task_no' readonly  type='text' value='" + GetTask_no() + "' class='layui-input layui-btn-disabled' style='display:none;'/>";
        //方法
        let oTD1 = oTR.insertCell(1);
        oTD1.innerHTML = "<div>" + obj.TaskTypeText + "</div>\
                          <select name='TaskType' style='width: 80px;' class='form-control' >\
                            <option value='0'>搜索</option>\
                            <option value='1'>隔天</option>\
                            <option value='2'>非搜</option>\
                            <option value='3'>动销</option>\
                            <option value='4'>其他</option>\
                         </select>";
        $(oTD1).find("select").val(obj.TaskType);
        //执行开始
        let oTD2 = oTR.insertCell(2);
        oTD2.style.width = "140px";
        oTD2.innerHTML = "<div>" + obj.ImplementStartdate + "</div><input  name='ImplementStartTime' value=" + obj.ImplementStartdate + " type='date'  style='display:none' class='layui-input'>";
        //商品类目
        let oTD3 = oTR.insertCell(3);
        oTD3.innerHTML = "<span>" + obj.TaskCateText + "</span><select  name='TaskCateId' class='form-control selectpicker' data-live-search='true' style='display:none;'><option value='-'>请选择</option>" + htmloption + "</select>";
        $(oTD3).find("select").val(obj.TaskCateId);//赋值
        $(oTD3).find("select").selectpicker('refresh');//初始化
        $(oTD3).find(".bootstrap-select").css("display", "none");//隐藏
        //商品名称
        let oTD4 = oTR.insertCell(4);
        oTD4.innerHTML = "<div>" + obj.CommodityName + "</div><input type='text' value=" + obj.CommodityName + "  name='CommodityName' class='layui-input' style='display:none;'/>";
        //商品图片
        let oTD5 = oTR.insertCell(5);
        oTD5.innerHTML = '<img src="' + obj.CommodityPicUrl + '"  name="CommodityPicID" data-id="' + obj.CommodityPicID + '" class="FileData" width="32" height="32"/>\
                          <button type="button" style="display:none;" name="fileUpload" class="layui-btn" id="SaveImg'+ RowIndex + '">上传图片</button>';
        Img("#SaveImg" + RowIndex, oTD5);
        //商品链接
        let oTD6 = oTR.insertCell(6);
        oTD6.innerHTML = "<div>" + obj.CommodityLink + "</div><input type='text' name='CommodityLink' value='" + obj.CommodityLink + "' class='layui-input' style='display:none;'/>";
        //商品价格
        let oTD7 = oTR.insertCell(7);
        oTD7.style.width = "50px";
        oTD7.innerHTML = "<div>" + obj.CommodityPrice + "</div><input type='number' name='CommodityPrice' value=" + obj.CommodityPrice + " class='layui-input deal' style='width:75px;display:none;'/>";
        //SKU
        let oTD8 = oTR.insertCell(8);
        oTD8.innerHTML = "<div>" + obj.SKU + "</div><input type='text'  name='SKU' value='" + obj.SKU + "' class='layui-input' style='display:none;'/>";
        //搜索关键字
        let oTD9 = oTR.insertCell(9);
        oTD9.innerHTML = "<div>" + obj.SearchKeyword + "</div><input type='text' name='SearchKeyword' value='" + obj.SearchKeyword + "' class='layui-input' style='display:none;'/>";
        //单量
        let oTD10 = oTR.insertCell(10);
        oTD10.style.width = "50px";
        oTD10.innerHTML = "<div>" + obj.VOS_Number + "</div><input type='number'  name='VOS_Number' value='" + obj.VOS_Number + "' class='layui-input deal' style='width:75px;display:none;'/>";
        //操作
        let oTD11 = oTR.insertCell(11);
        oTD11.style.width = "230px";
        oTD11.innerHTML = "<input type='button' class='layui-btn ayui-btn-sm' value='编辑' onclick=\"edit(this,'show')\"/> <input type='button' class='layui-btn ayui-btn-sm layui-btn-primary layui-border-black' value='删除' onclick='drop(this)'/>";
        RowIndex++;
    }

    function SearchShop() {
        let ShopnameId = $("#VOS_PlanVM_Entity_ShopnameId").val();
        if (ShopnameId == "") {
            layer.msg("请先选择店铺");
            return false;
        }
        let layerIndex = layer.msg("正在查询任务中,请勿关闭或刷新...", { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 1000000 });
        let SearchBatchCreationModelJson = {
            "OrganizationID": $("#VOS_PlanVM_Entity_OrganizationID").val()
            , "ShopnameId": ShopnameId
            , "PlanSatrtTime": $("#VOS_PlanVM_Entity_PlanSatrtTime").val()
            , "PlanEndTime": $("#VOS_PlanVM_Entity_PlanEndTime").val()
        };
        $.ajax({
            type: "post"
            , url: "@Url.Action("SearchBatchCreation", "VOS_Task")"
            , data: { "SearchBatchCreationModelJson": JSON.stringify(SearchBatchCreationModelJson) }
            , success: res => {
                document.getElementById("layui_table").innerHTML = "";
                if (res.Data.TaskList == undefined || res.Data.TaskList.length <= 0) {
                    setTimeout(function () {
                        layer.close(layerIndex);
                    }, 1000);
                    layer.msg("2天内《 " + $('#VOS_PlanVM_Entity_ShopnameId option:selected').text() + " 》下没有任务", { icon: 6 });
                    return false;
                }
                let index = layer.msg("正在添加任务中,请勿关闭或刷新...", { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 1000000 });
                setTimeout(function () {
                    layer.close(index);
                }, 2000);
                $("#SaveTask").removeClass("layui-btn-disabled").addClass("layui-btn-radius layui-btn-normal");
                $("#VOS_PlanVM_Entity_OrganizationID").val(res.Data.PlanObject.OrganizationID);
                form.render();
                console.log(res.Data.PlanObject.OrganizationID);
                $(res.Data.TaskList).each(function (index, item) {
                    CreateRow(item);
                });
                setTimeout(function () {
                    layer.close(index);
                }, 2000);
            }
            , error: err => {
                document.getElementById("layui_table").innerHTML = "";
                layer.msg("未找到计划编号");
            }
        });
    }

</script>